
@{
    ViewBag.Title = "IndexHome";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

</head>
<body>

    <header>
        <h1>Welcome @(Session["UserName"] != null ? Session["UserName"].ToString() : "No value")</h1>
    </header>
    <div id="main-content">
        <img src="~/Content/Image/Home/pexels-aksonsat-uanthoeng-1078850.jpg" alt="A beautiful image" style="max-width: 100%; height: auto; "/>
        @*<p>Hello VCO .</p>*@
    </div>

</body>
</html>