@model IEnumerable<VisaApplicationSystem.Models.ApplicationForm>

@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/CustomCSS/TableView.css" rel="stylesheet" />

</head>
<body>
    <h2>Status</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Application ID
                </th>
                <th>
                    Visa name
                </th>
                <th>
                    Visa Title
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.applicationID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.visaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.visaTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>

                </tr>
            }

        </tbody>
    </table>
</body>
</html>