@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<!-- Document Type Declaration -->
<html>
<head>
    <meta charset="UTF-8"> <!-- Character encoding declaration -->
    <style>
        .justify-text {
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">About us</h1>
                    <p class="lead text-muted mb-0 justify-text">
                        The Ministry of External Affairs is headed by the Minister of External Affairs, a Cabinet Minister. The Foreign Secretary, an Indian Foreign Service officer, is the most senior civil servant who is the head of the Department of Foreign Affairs.
                        The Ministry represents the Government of India through embassies and is also responsible for India's representation at the United Nations and other international organizations and expanding and safeguarding India's influence and Indian interests across the world by providing
                        developmental aid to other countries worth billions of dollars.[4] It also advises other Ministries and State Governments on foreign governments and institutions.
                    </p>

                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="~/Content/Image/Govenment_of_india.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2 class="font-weight-light">Visa</h2>
                    <p class="font-italic text-muted mb-4">
                        All visa seekers can apply for Indian Visa online and even check the status of already submitted visa applications. The duly signed physical copy of the application form completed
                        in all respect and submitted successfully, is to be submitted at the concerned Indian Visa Application Center or directly to Indian Mission/ Post, on the scheduled date of interview along with the requisite supporting
                        documents. Applicants need to fill up an online form with particulars such as their name, contact details, religion, date of birth, country of birth, citizenship, passport details, etc. The status of Visa applications
                        can also be checked.
                    </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Apply Now</a>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                    <img src="~/Content/Image/Saudi-visit-visa.png" alt=" 2nd pic" class="img-fluid mb-4 mb-lg-0">
                </div>
            </div>
        </div>
    </div>

</body>
</html>