@{
    ViewBag.Title = "Home Page";
}
<div class="custom-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="height: 600px; overflow: hidden;">
            <div class="carousel-item active">
                <img class="d-block w-100" style="object-fit: cover; height: 100%;" src="https://images.ctfassets.net/uwf0n1j71a7j/1R8x3R6TcUYJc4pvsfc0o3/faf5bffbcd9ff98ba2b0bec219cf6a28/e-visa.png?fm=webp&w=1920&q=75" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" style="object-fit: cover; height: 100%;" src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" alt="Third slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" style="object-fit: cover; height: 100%;" src="~/Content/Image/Home/pexels-porapak-apichodilok-346885.jpg" alt="Second slide">
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Welcome!  </h1>
                <p class="lead text-muted mb-0">
                    Are you planning an exciting journey to a foreign destination? We're here to simplify
                    the visa application process for you. Our e-visa portal offers a hassle-free way to obtain
                    your travel visa, whether it's for tourism, business, or study purposes.
                </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block" style="height: 250px;">
                <img src="~/Content/Image/Home/pexels-aksonsat-uanthoeng-1078850.jpg" alt="" class="img-fluid" style="height: 300px; width: 700px;">
            </div>
        </div>
    </div>
</div>
<div class="mt-xxl-5">
    <!-- Content for the second container with a margin-top of 4 units -->
</div>
<div class="custom-container-card">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tourist Visa</h5>
                    <p class="card-text">Explore the world as a tourist. Apply for a tourist visa to discover new places and cultures.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Business Visa</h5>
                    <p class="card-text">Expand your business horizons. Apply for a business visa to meet clients and explore new markets.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Student Visa</h5>
                    <p class="card-text">Pursue your dreams of education abroad. Apply for a student visa to study in prestigious institutions.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Work Visa</h5>
                    <p class="card-text">Start your career abroad. Apply for a work visa to pursue job opportunities in a foreign country.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Family Visa</h5>
                    <p class="card-text">Reunite with loved ones. Apply for a family visa to join your family members living abroad.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Transit Visa</h5>
                    <p class="card-text">On a journey? Apply for a transit visa to make a short stopover in a connecting country.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/Image/Home/e-visa-countries-for-indians.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diplomatic Visa</h5>
                    <p class="card-text">Represent your country. Apply for a diplomatic visa for official government purposes.</p>
                    <a href="/Home/About" class="button-hov" style="vertical-align: middle; text-decoration: none; color: white;">
                        <span>Apply now!</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('#carouselExampleIndicators').carousel({
            interval: 2 // 2 seconds
        });
    });
</script>
<style>
    .custom-container {
        max-width: 1500px; /* Set your desired max-width here */
        margin: 0 auto; /* Center the container horizontally */
    }
    .custom-container-card {
        max-width: 1000px; 
        padding:inherit;/* Set your desired max-width here */
        margin: 0 auto; /* Center the container horizontally */
    }
    .button-hov {
        display: inline-block;
        border-radius: 4px;
        background-color: #2151ff;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        font-style: italic;
        padding: 10px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button-hov span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button-hov span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button-hov:hover span {
        padding-right: 25px;
    }

    .button-hov:hover span:after {
        opacity: 1;
        right: 0;
    }   
</style>
