

header {
    background-color: antiquewhite;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: darkgoldenrod;
}

#main-content {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    #main-content img {
        max-width: 100%;
        height: auto;
    }
